<h1><%= @team.teamname %></h1>
	
	<div class="list-header">
		<% @users_in_team.each do |user| %>
			<p>
			<%= user.username %>
			</p>
			<%= form_for @team do |f|%>
			  <p>
			    <label>Character</label>
			    <%= f.select :characters, Character.all.map { |character| [ character.name, character.id ] }, :include_blank => true%>
			  </p>
			  <% end %>
		<% end %>
	</div>

<div>
	<% unless @team_count >= 5 %>
		<%= link_to 'join', join_team_path(@team) %>
	<% end %>

	<%= link_to 'leave', leave_team_path(@team) %>	
</div>


