<!DOCTYPE html>
<html>
<head>
  <title>LolTeamz</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <%= link_to 'Home', '/' %>
  <% if @current_user.present? %>
    <%= link_to "Edit profile", edit_user_path %>
    <%= link_to "Logout #{ @current_user.username }", login_path, :method => 'delete', :data => { :confirm => 'Are you sure you wish to logout?' } %>
    <%= link_to "Create Team", new_team_path %>
    <%= link_to "Look for a Team", teams_path %>
    <%= link_to "#{@current_user.username} stats", @current_user  %>
  <% else %>
    <%= link_to 'Create Account', new_user_path %>
    <%= link_to 'Login', login_path %>
  <% end %>
</nav>

<%= yield %>

</body>
</html>
